.about-me {
    padding: 50px 20px; /* Padding for the section */
    text-align: center; /* Center align text */
    border-radius: 10px; /* Rounded corners */
    margin: 20px; /* Margin around the section */
}

.about-me-title {
    font-size: 2.5em; /* Title font size */
    font-family: 'Lato', sans-serif; /* Consistent font-family */
    margin-bottom: 30px; /* Space below title */
    color: hsl(0, 0%, 100%); /* Title color */
}

.about-me-description {
    font-size: 1.2em; /* Paragraph font size */
    color: hsl(0, 0%, 40%); /* Paragraph color */
}

.button-about {
    background-color: hsl(0, 0%, 17%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    font-size: 1em;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid;
    border-color: hsl(0, 0%, 100%);
}

.button-about:hover {
    background-color: hsl(23, 95%, 32%);
    transition: 0.4s;
}

/* Styles for the image popup overlay */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-image {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.popup-image:hover {
    cursor: pointer;
}
